<div class="container">
    <div class= "smallContainer">

        <div class="Iam">

            <h1>Lisa THAZAR</h1>
            <div class="box">
                    <ul>
                      <li class="item-1">Développeuse Web</li>
                      <li class="item-2">FullStack</li>
                      <li class="item-3">Créative</li>
                      <li class="item-4">Motivée</li>
                      <li class="item-5">Aventurière</li>
                      <li class="item-6">Curieuse</li>
                    </ul>  
            </div>
        </div>
    </div>
</div>
